---
import Layout from '../layouts/Layout.astro';
import Components from "../components";
import Form from "../components/create/Form.react";
---
<Layout title="Asteroid-create">
    <main>
        <Form client:only="true"/>
    </main>
</Layout>