---
import Layout from '../layouts/Layout.astro';
import Fade from "../Widgets/Tranistions/Fade.svelte";
import Form from "../components/create/Form.react";
---
<Layout title="Asteroid-create">
    <main>
        <Fade client:idle="true">
            <Form client:only="true"/>
        </Fade>
    </main>
</Layout>