---
import Layout from '../layouts/Layout.astro';
import Fade from "../Widgets/Tranistions/Fade.svelte";
import Posts from "../components/posts/Posts.react";
---

<Layout title="Asteroid">
	<main>
		<Fade client:idle="true">
			<Posts />
		</Fade>
	</main>
</Layout>
