---
import Layout from '../layouts/Layout.astro';
import Components from "../components/index"
const {Card} = Components.get
---

<Layout title="Asteroid">
	<main>
		<Card name={"Makar"}/>
	</main>
</Layout>
