---
import Layout from '../layouts/Layout.astro';
import Components from "../components/index"
const {Card} = Components.get
---

<Layout title="Welcome to Astro.">
	<main>
		<Card name={"123131"}/>
	</main>
</Layout>
