---
import Layout from '../layouts/Layout.astro';
import Fade from "../Widgets/Tranistions/Fade.svelte";
import UserCard from "../components/user/UserCard.vue"
import UserPosts from "../components/user/UserPosts.svelte"
---
<Layout title="Asteroid-Profile">
    <main>
        <Fade client:idle="true">
            <UserCard />
            <UserPosts />
        </Fade>
    </main>
</Layout>