---
import Layout from '../layouts/Layout.astro';
import Components from "../components";
import Widgets from "../Widgets";
import Fade from "../Widgets/Tranistions/Fade.svelte";
const {UserCard} = Components.user
---
<Layout title="Profile">
    <main>
        <Fade client:idle="true">
            <UserCard />
        </Fade>
    </main>
</Layout>