---
import Widgets from "../Widgets";
import Navbar from "../components/Navbar.tsx"
const {AppWrapper, ContentWrapper} = Widgets.wrappers
export interface Props {
	title?: string;
}
const url = Astro.url
const { title = "dehwyy" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<AppWrapper>
		<Navbar currentPage={url.pathname}/>
		<ContentWrapper>
			<slot />
		</ContentWrapper>
	</AppWrapper>
	</body>

</html>
<style>
@font-face {
	font-family: 'desib';
	src: url("../../public/fonts/desib.ttf") format('truetype');
}
@font-face {
	font-family: 'kenyan';
	src: url("../../public/fonts/kenyan.otf") format('truetype');
}
@font-face {
	font-family: 'neuro';
	src: url("/fonts/neuro.otf") format('truetype');
}
@font-face {
	font-family: 'zekton';
	src: url("/fonts/zekton.otf") format('truetype');
}
body {
	background: #444444;
}

</style>