---
import Navbar from "../components/Navbar";
import AppWrapper from "../Widgets/Wrappers/AppWrapper.vue"
import ContentWrapper from "../Widgets/Wrappers/ContentWrapper.svelte";
export interface Props {
	title?: string;
}
const url = Astro.url
const { title = "dehwyy" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<AppWrapper>
		<Navbar currentPage={url.pathname}/>
		<ContentWrapper>
			<slot />
		</ContentWrapper>
	</AppWrapper>
	</body>

</html>
<style is:global>
@font-face {
	font-family: 'desib';
	src: url("/fonts/desib.ttf") format('truetype');
}
@font-face {
	font-family: 'kenyan';
	src: url("/fonts/kenyan.otf") format('truetype');
}
@font-face {
	font-family: 'neuro';
	src: url("/fonts/neuro.otf") format('truetype');
}
@font-face {
	font-family: 'zekton';
	src: url("/fonts/zekton.otf") format('truetype');
}
@font-face {
	font-family: 'generis';
	src: url("/fonts/generis.otf") format('truetype');
}
body {
	background: #333333;
}
.cut-left-top-small {
	clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 35%);
}
.cut-right-bottom-small {
	clip-path: polygon(100% 0, 100% 85%, 95% 100%, 0 100%, 0 0);
}
.cut-right-bottom-big {
	clip-path: polygon(100% 0, 100% 90%, 95% 100%, 0 100%, 0 0);
}
</style>